# Compiled files
*.class

# Maven build
target/

# IntelliJ
.idea/
*.iml

# OS
desktop.ini

# Logs
*.log

# Env
.env
application-dev.properties
application-prod.properties
application-docker.properties